* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fon {
  display: flex;
  width: 100%;
  height: 620px;
  background-color: crimson;
}

.boks {
  display: flex;
  margin-top: 100px;
  width: 100%;
  height: 230px;
  background-color: rgb(115, 151, 187);
}
%les {
  display: flex;
  flex-direction: row;
  height: 232px;
  width: 100px;
  border: 1px solid lightsteelblue;
  overflow: hidden;
  transition: 1s;
}

%pols {
  display: flex;
  flex-direction: row;
  height: 230px;
  transition: 0s;
}
%tebl {
  width: 45px;
  height: 45px;
  margin: 92px 26px;
  fill: aliceblue;
  transition: 0s;
}
@mixin square($size, ) {
  margin-top: $size;
  width: $size;
  font-size: $size;
}
.boby {
  @extend %les;

  &:hover {
    width: 518px;

  }
 
  &:hover .linu::after {
    margin-left: -100px;
    width: 100px;
    
  }
  &:hover .lost .lost1{
    width: 100px;

  }
  .lin {
    @extend %pols;
   

    .twitter {
      @extend %tebl;  
    }
    
  }
 
  .linu {
    &::after {
      content: url('./img/twitter.svg');
      display: block;
      position: relative;
      margin-left: 0px;
      width: 0px;
      height: 100px;
      border: 1px solid lightsteelblue;
      background-color: rgb(140, 193, 247);
      padding: 63px 0px;
      transition: 0s;
      
    }
    
  }
  .lost {
    border: 1px solid lightblue;
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    padding: 30px 20px;
    width: 340px;
    height: 228px;
  
    .lost1{
      width: 0px;
    }
    p {
      @include square(20px, 300px, 14px);
     
    }
  }
 
}

.boby2 {
  @extend %les;

  &:hover {
    width: 440px;

  }
 
  &:hover .linu::after {
    margin-left: -100px;
    width: 100px;
    
  }
  .lin {
    @extend %pols;
   

    .twitter {
      @extend %tebl;  
    }
    
  }
 
  .linu {
    &::after {
      content: url('./img/facebook-f\ \(1\).svg');
      display: block;
      position: relative;
      margin-left: 0px;
      width: 0px;
      height: 100px;
      border: 1px solid lightsteelblue;
      background-color: rgb(10, 72, 134);
      padding: 63px 0px;
      transition: 0s;
      
    }
    
  }
  .lost {
    border: 1px solid lightblue;
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    padding: 30px 20px;
    width: 340px;
    height: 228px;
  
    
    p {
      @include square(20px, 300px, 14px);
    
    }
  }
 
}
.boby3 {
  @extend %les;

  &:hover {
    width: 440px;

  }
 
  &:hover .linu::after {
    margin-left: -100px;
    width: 100px;
    
  }
  .lin {
    @extend %pols;
   

    .twitter {
      @extend %tebl;  
    }
    
  }
 
  .linu {
    &::after {
      content: url('./img/linkedin.svg');
      display: block;
      position: relative;
      margin-left: 0px;
      width: 0px;
      height: 100px;
      border: 1px solid lightsteelblue;
      background-color: rgb(52, 137, 221);
      padding: 63px 0px;
      transition: 0s;
      
    }
    
  }
  .lost {
    border: 1px solid lightblue;
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    padding: 30px 20px;
    width: 340px;
    height: 228px;
  
    
    p {
      @include square(20px, 300px, 14px);
     
    }
  }
 
}

.boby4 {
  @extend %les;

  &:hover {
    width: 440px;

  }
 
  &:hover .linu::after {
    margin-left: -100px;
    width: 100px;
    
  }
  .lin {
    @extend %pols;
   

    .twitter {
      @extend %tebl;  
    }
    
  }
 
  .linu {
    &::after {
      content: url('./img/instagram-alt.svg');
      display: block;
      position: relative;
      margin-left: 0px;
      width: 0px;
      height: 100px;
      border: 1px solid lightsteelblue;
      background-color: rgb(26, 156, 21);
      padding: 63px 0px;
      transition: 0s;
      
    }
    
  }
  .lost {
    border: 1px solid lightblue;
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    padding: 30px 20px;
    width: 340px;
    height: 228px;
  
    
    p {
      @include square(20px, 300px, 14px);
     
    }
  }
 
}
.boby5 {
  @extend %les;

  &:hover {
    width: 440px;

  }
 
  &:hover .linu::after {
    margin-left: -100px;
    width: 100px;
    
  }
  .lin {
    @extend %pols;
   

    .twitter {
      @extend %tebl;  
    }
    
  }
 
  .linu {
    &::after {
      content: url('./img/youtube.svg');
      display: block;
      position: relative;
      margin-left: 0px;
      width: 0px;
      height: 100px;
      border: 1px solid lightsteelblue;
      background-color: rgb(218, 33, 33);
      padding: 63px 0px;
      transition: 0s;
      
    }
    
  }
  .lost {
    border: 1px solid lightblue;
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    padding: 30px 20px;
    width: 340px;
    height: 228px;
  
    
    p {
      @include square(20px, 300px, 14px);
     
    }
  }
 
}

.boby6 {
  @extend %les;

  &:hover {
    width: 440px;

  }
 
  &:hover .linu::after {
    margin-left: -100px;
    width: 100px;
    
  }
  .lin {
    @extend %pols;
   

    .twitter {
      @extend %tebl;  
    }
    
  }
 
  .linu {
    &::after {
      content: url('./img/tumblr.svg');
      display: block;
      position: relative;
      margin-left: 0px;
      width: 0px;
      height: 100px;
      border: 1px solid lightsteelblue;
      background-color: rgb(6, 52, 99);
      padding: 63px 0px;
      transition: 0s;
      
    }
    
  }
  .lost {
    border: 1px solid lightblue;
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    padding: 30px 20px;
    width: 340px;
    height: 228px;
  
    
    p {
      @include square(20px, 300px, 14px);
    
    }
  }
 
}

.boby7 {
  @extend %les;

  &:hover {
    width: 440px;

  }
 
  &:hover .linu::after {
    margin-left: -100px;
    width: 100px;
    
  }
  .lin {
    @extend %pols;
   

    .twitter {
      @extend %tebl;  
    }
    
  }
 
  .linu {
    &::after {
      content:  url('./img/dribbble.svg');
      display: block;
      position: relative;
      margin-left: 0px;
      width: 0px;
      height: 100px;
      border: 1px solid lightsteelblue;
      background-color: rgb(201, 43, 69);
      padding: 63px 0px;
      transition: 0s;
      
    }
    
  }
  .lost {
    border: 1px solid lightblue;
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    padding: 30px 20px;
    width: 340px;
    height: 228px;
  
    
    p {
      @include square(20px, 300px, 14px);
      
    }
  }
 
}



