
@font-face {
    font-family:'indei' ;
    src: url('./fonts/Indie_Flower/IndieFlower-Regular.ttf');
}
.hider{
    min-height: 700px;
    height: 100%;
    background:linear-gradient( rgb(127, 108, 233) 0%, rgb(207, 71, 248) 100%);
    display: flex;
    text-align: center;
    flex-direction: column;
    color: rgb(218, 217, 235);
    
}
.kik1{
    position: absolute;
    content: url('./fonts/фото/free-icon-cup-cake-1784077.png');
    width: 50px;
    height: 50px;
    transform: rotateZ(62deg);
    margin:2%  4%;
}
.kik2{
    position: absolute;
    content: url('./fonts/фото/free-icon-heart-cake-2343418.png');
    width: 50px;
    height: 50px;
    transform: rotateZ(-51deg);
    margin:38%  4%;
}
.kik3{
    position: absolute;
    content: url('./fonts/фото/macaron.png');
    width: 50px;
    height: 50px;
  
    margin:2%  80%;
}
.kik4{
    position: absolute;
    content: url('./fonts/фото/muffin.png');
    width: 50px;
    height: 50px;
    transform: rotateZ(-140deg);
    margin:31%  82%;

}
.container{

    font-family: 'lobster';
    font-size: 80px;
    margin-top: 30px;
    color: rgba(12, 2, 66); 
   
}
.box{
    border: 5px solid rgb(119, 66, 243);
    box-shadow: inset -1px -2px 17px 11px rgb(119, 66, 243);
    margin: 2% 10% ;
    border-radius: 10px;
 
}
.text1, .text2, .text3{
    font-size: 40px;
    color: rgb(3, 52, 116);
    font-family: 'indei';

}

.boxs1, .boxs2, .boxs3{
    
   
    height: 100%;
    padding: 10px;
    border-radius: 30px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   
    
}.hide{
    display: none;
}
.liv{
    display: none;
}

.close1, .close2, .close3{
    margin-top: -50px;
    width: 5%;
    width: 35px;
    height: 35px;
    content: url(./fonts/фото/close_FILL0_wght400_GRAD0_opsz48.png);
}
.foto{
    width: 300px;
    height: 332px;
    border: 3px solid navy;
    border-radius: 30px;
    margin: 10px;
}
.img{
    height: 326px;
    width: 100%;
    border-radius: 28px;
    border: 1px solid black;
    background-blend-mode: multiply;
   
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(245, 245, 245, 0.753);
}
.bent{
     font-size:30px ;
   
}
.img:hover{
   
    background-color: rgba(122, 118, 119, 0.952);
}
.img1{
    background-image: url(./fonts/фото/photo_2023-04-06_00-10-36.jpg);
}
.img2{
    background-image: url(./fonts/фото/photo_2023-04-06_00-10-45.jpg);
}
.img3{
    background-image: url(./fonts/фото/photo_2023-04-06_00-10-42.jpg);
}
.img4{
    background-image: url(./fonts/фото/photo_2023-04-06_13-56-45.jpg);
}
.img5{
    background-image: url(./fonts/фото/photo_2023-04-06_13-56-51.jpg);
}
.img6{
    background-image: url(./fonts/фото/photo_2023-04-06_13-56-57.jpg);
}
.img7{
    background-image: url(./fonts/фото/photo_2023-04-06_13-58-19.jpg);
}
.img8{
    background-image: url(./fonts/фото/photo_2023-04-06_00-11-04.jpg);
}
.lis{
    margin: 100px;
}
.final{
    width: 100%;
    height: 150px;
    background-color: rgb(63 81 181 / 30%);
}
@media screen and (max-width: 480px) {
    .boxs{
        flex-direction: column;
    }
    .box{
        margin: 5% 5%;
    }
}