@font-face {
  font-family: 'lobster';
  src: url('./fonts/Lobster/Lobster-Regular.ttf');
}
@font-face {
  font-family: "indei";
  src: url("./fonts/Indie_Flower/IndieFlower-Regular.ttf");
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hider {

  height: 100%;
  background: linear-gradient(rgb(127, 108, 233) 0%, rgb(207, 71, 248) 100%);
  display: flex;
  text-align: center;
  flex-direction: column;
  color: rgb(218, 217, 235);
}

.kik1 {
  position: absolute;
  content: url("./fonts/фото/free-icon-cup-cake-1784077.png");
  width: 50px;
  height: 50px;
  transform: rotateZ(62deg);
  margin: 2% 4%;
}

.kik2 {
  position: absolute;
  content: url("./fonts/фото/free-icon-heart-cake-2343418.png");
  width: 50px;
  height: 50px;
  transform: rotateZ(-51deg);
  margin: 38% 4%;
}

.kik3 {
  position: absolute;
  content: url("./fonts/фото/macaron.png");
  width: 50px;
  height: 50px;
  margin: 2% 80%;
}

.kik4 {
  position: absolute;
  content: url("./fonts/фото/muffin.png");
  width: 50px;
  height: 50px;
  transform: rotateZ(-140deg);
  margin: 31% 82%;
}

.container {
  font-family:cursive;
  font-size: 80px;
  margin-top: 30px;
  color: rgb(12, 2, 66);
}

.box {
  border: 5px solid rgb(119, 66, 243);
  box-shadow: inset -1px -2px 17px 11px rgb(119, 66, 243);
  margin: 2% 10%;
  border-radius: 10px;
}

.text1, .text2, .text3, .text4 {
  font-size: 40px;
  color: rgb(3, 52, 116);
  font-family: "indei";
}

.boxs1, .boxs2, .boxs3, .boxs4 {
  height: 100%;
  padding: 10px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.hide {
  display: none;
}

.liv {
  display: none;
}

.close1, .close2, .close3, .close4 {
  margin-top: -50px;
  width: 5%;
  width: 35px;
  height: 35px;
  content: url(./fonts/фото/close_FILL0_wght400_GRAD0_opsz48.png);
}

.foto {
  width: 300px;
  height: 332px;
  border: 3px solid navy;
  border-radius: 30px;
  margin: 30px 5px;
}

.img {
  color: rgb(240, 241, 248);
  font-size: 50px;
  font-weight: bold;
 font-family:cursive;
  padding-top: 60px;
  height: 326px;
  width: 100%;
  border-radius: 28px;
  border: 1px solid black;
  background-blend-mode: multiply;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(245, 245, 245, 0.753);
}

.bent {
  font-size: 30px;
}

.img:hover {
  background-color: rgba(122, 118, 119, 0.952);
  content: 'hjff,hjf,j';
}

.img1 {
  background-image: url(./fonts/фото/photo_2023-04-06_00-10-36.jpg);

}

.img2 {
 
  background-image: url(./fonts/фото/photo_2023-04-06_00-10-49.jpg);
}

.img3 {
  background-image: url(./fonts/фото/photo_2023-04-06_00-10-42.jpg);
}

.img4 {
  background-image: url(./fonts/фото/photo_2023-04-06_13-56-45.jpg);
}

.img5 {
  background-image: url(./fonts/фото/photo_2023-04-06_13-56-51.jpg);
}

.img6 {
  background-image: url(./fonts/фото/photo_2023-04-06_13-56-57.jpg);
}

.img9 {
  background-image: url(./fonts/фото/photo_2023-04-12_23-50-34.jpg);
}

.img8 {
  padding-top: 90px;
  background-image: url(./fonts/фото/photo_2023-04-06_00-10-56.jpg);
}
.img7{
  background-image: url(./fonts/фото/photo_2023-04-06_13-56-54.jpg);
}
.img10{
  background-image: url(./fonts/фото/photo_2023-04-06_00-11-00.jpg);
}
.img11{
  padding-top: 90px;
  background-image: url(./fonts/фото/photo_2023-04-13_10-40-32.jpg);
}
.img12{
  padding-top: 90px;
  background-image: url(./fonts/фото/photo_2023-04-13_10-40-25.jpg);
}
.lis {
  margin: 100px;
}

.final {
  width: 100%;
  height: 170px;
  background-color: rgba(63, 81, 181, 0.3);
}
.dets1{
  border: 3px solid rgba(88, 101, 211, 0.521);
  height: 100%;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.bett1{
  margin-top: 20px;
  height: 286px;
  width: 250px;
  border-radius: 28px;
  border: 1px solid #2e2a2a7a;
  background-blend-mode: multiply;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow:inset 0px -4px 14px 7px rgb(92, 150, 144);
}
.detal{
  border: 3px solid rgba(190, 161, 241, 0.56);
  width: 60%;
  height: 300px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: inset 2px 1px 33px 10px rgb(215 184 236 / 51%);
}
.button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin: 5px 180px;
    box-shadow: inset 0px -4px 14px 7px rgb(109, 80, 212);;
    border: 1px solid rgb(66 31 223 / 83%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.divs{
  display: flex;
}
.kata{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  color: rgb(31, 32, 109);
  margin: 10px;
}
.nomer{
  margin: 5px;
  font-size: 25px;
  color: rgba(6, 13, 73, 0.795);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.instagram{
  color: rgb(34, 34, 148);
  font-size: 20px;
  font-family: monospace;
  margin: 10px;
}
@media screen and (max-width: 480px) {
  .boxs {
    flex-direction: column;
  }
  .box {
    margin: 5% 5%;
  }
  .container{
    font-size: 50px;
  }
  .detal{
    width: 90%;
  }
}
